In [1]:
import requests
import pandas as pd

In [2]:
response = requests.get("https://api.the-odds-api.com/v4/sports/soccer_epl/odds/?apiKey=9e29e8b8f5b104d542cf0d53ac0b8327&regions=eu&markets=h2h,spreads&oddsFormat=decimal").json()

In [3]:
import numpy as np
games = response[:10]

final_lis = []
for game in games:
    lis = []
    home_team = game['home_team']
    lis.append(home_team)
    away_team = game['away_team']
    lis.append(away_team)
    final_home_odds = []
    final_away_odds = []
    for i in range(len(game['bookmakers'])):
        home_odds = game['bookmakers'][i]['markets'][0]['outcomes'][0]['price']
        away_odds = game['bookmakers'][i]['markets'][0]['outcomes'][1]['price']
        final_home_odds.append(home_odds)
        final_away_odds.append(away_odds)
    lis.append(np.mean(final_home_odds))
    lis.append(np.mean(final_away_odds))
    final_lis.append(lis)
print(final_lis)

[['Bournemouth', 'Liverpool', 7.0407142857142855, 1.452857142857143], ['Everton', 'Brentford', 2.809285714285714, 2.72], ['Leeds United', 'Brighton and Hove Albion', 1.9835714285714283, 3.846428571428571], ['Leicester City', 'Chelsea', 2.0078571428571426, 3.895], ['Tottenham Hotspur', 'Nottingham Forest', 7.9835714285714285, 1.4299999999999997], ['Crystal Palace', 'Manchester City', 9.212142857142856, 1.3714285714285712], ['Fulham', 'Arsenal', 1.5964285714285713, 5.872857142857143], ['West Ham United', 'Aston Villa', 3.392857142857143, 2.2521428571428572], ['Manchester United', 'Southampton', 1.3564285714285713, 9.11357142857143], ['Newcastle United', 'Wolverhampton Wanderers', 1.6871428571428573, 5.496428571428572]]

In [4]:
df = pd.DataFrame(data=final_lis, columns=['HT', 'AT', 'AHO', 'AAO'])
df

                  HT                        AT       AHO       AAO
0        Bournemouth                 Liverpool  7.040714  1.452857
1            Everton                 Brentford  2.809286  2.720000
2       Leeds United  Brighton and Hove Albion  1.983571  3.846429
3     Leicester City                   Chelsea  2.007857  3.895000
4  Tottenham Hotspur         Nottingham Forest  7.983571  1.430000
5     Crystal Palace           Manchester City  9.212143  1.371429
6             Fulham                   Arsenal  1.596429  5.872857
7    West Ham United               Aston Villa  3.392857  2.252143
8  Manchester United               Southampton  1.356429  9.113571
9   Newcastle United   Wolverhampton Wanderers  1.687143  5.496429

In [6]:
ODDS_API_URL = "https://api.the-odds-api.com/v4/sports/soccer_epl/odds/?apiKey=9e29e8b8f5b104d542cf0d53ac0b8327&regions=eu&markets=h2h,spreads&oddsFormat=decimal"

In [7]:
def get_odds():
    response = requests.get(ODDS_API_URL).json()
    games = response[:10]

    final_lis = []
    for game in games:
        lis = []
        home_team = game['home_team']
        lis.append(home_team)
        away_team = game['away_team']
        lis.append(away_team)
        final_home_odds = []
        final_away_odds = []
        for i in range(len(game['bookmakers'])):
            home_odds = game['bookmakers'][i]['markets'][0]['outcomes'][0]['price']
            away_odds = game['bookmakers'][i]['markets'][0]['outcomes'][1]['price']
            final_home_odds.append(home_odds)
            final_away_odds.append(away_odds)
        lis.append(np.mean(final_home_odds))
        lis.append(np.mean(final_away_odds))
        final_lis.append(lis)
        df = pd.DataFrame(data=final_lis, columns=['HT', 'AT', 'AHO', 'AAO'])
        df['HT'] = df['HT'].replace(['Manchester United'], 'Man United')
        df['HT'] = df['HT'].replace(['Manchester City'], 'Man City')
        df['HT'] = df['HT'].replace(['Leicester City'], 'Leicester')
        df['HT'] = df['HT'].replace(['Leeds United'], 'Leeds')
        df['HT'] = df['HT'].replace(['Nottingham Forest'], "Nott'm Forest")
        df['HT'] = df['HT'].replace(['Tottenham Hotspur'], "Tottenham")
        df['HT'] = df['HT'].replace(['Wolverhampton Wanderers'], "Wolves")
        df['HT'] = df['HT'].replace(['West Ham United'], "West Ham")
        df['HT'] = df['HT'].replace(['Newcastle United'], "Newcastle")
        df['HT'] = df['HT'].replace(['Brighton and Hove Albion'], "Brighton")
        df['AT'] = df['AT'].replace(['Manchester United'], 'Man United')
        df['AT'] = df['AT'].replace(['Manchester City'], 'Man City')
        df['AT'] = df['AT'].replace(['Leicester City'], 'Leicester')
        df['AT'] = df['AT'].replace(['Leeds United'], 'Leeds')
        df['AT'] = df['AT'].replace(['Nottingham Forest'], "Nott'm Forest")
        df['AT'] = df['AT'].replace(['Tottenham Hotspur'], "Tottenham")
        df['AT'] = df['AT'].replace(['Wolverhampton Wanderers'], "Wolves")
        df['AT'] = df['AT'].replace(['West Ham United'], "West Ham")
        df['AT'] = df['AT'].replace(['Newcastle United'], "Newcastle")
        df['AT'] = df['AT'].replace(['Brighton and Hove Albion'], "Brighton")
    return df

In [8]:
def stats_x_new(home_team, away_team):
    LINKS = ["mmz4281/2223/E0.csv",
             "mmz4281/2122/E0.csv"]
    df = pd.DataFrame()
    for link in LINKS:
        df = pd.concat([df, pd.read_csv(f"https://www.football-data.co.uk/{link}")]).reset_index(drop=True)
    df['THC'] = df['HY'] + df['HR']
    df['TAC'] = df['AY'] + df['AR']
    home_cols = ['HST', 'HC', 'THC']
    away_cols = ['AST', 'AC', 'TAC']
    df_home = df.groupby(df['HomeTeam'])[home_cols].mean()
    df_away = df.groupby(df['AwayTeam'])[away_cols].mean()
    home_row = df_home.loc[df_home.index==home_team]
    home_row = home_row.reset_index(drop=True)
    away_row = df_away.loc[df_away.index==away_team]
    away_row = away_row.reset_index(drop=True)
    row_final = home_row.merge(away_row, left_index=True, right_index=True)
    row_final = row_final.iloc[:, [3,0,1,4,2,5]]
    odds = pd.DataFrame(get_odds())
    print(odds)
    home_odds = odds['AHO'].loc[odds['HT'] == home_team].values[0]
    away_odds = odds['AAO'].loc[odds['AT'] == away_team].values[0]
    row_final['AHO'] = home_odds
    row_final['AAO'] = away_odds
    return row_final

In [9]:
stats_x_new('Everton', 'Brentford')

               HT             AT       AHO       AAO
0     Bournemouth      Liverpool  7.040714  1.452857
1         Everton      Brentford  2.809286  2.720000
2           Leeds       Brighton  1.983571  3.846429
3       Leicester        Chelsea  2.007857  3.895000
4       Tottenham  Nott'm Forest  7.983571  1.430000
5  Crystal Palace       Man City  9.212143  1.371429
6          Fulham        Arsenal  1.596429  5.872857
7        West Ham    Aston Villa  3.392857  2.252143
8      Man United    Southampton  1.356429  9.113571
9       Newcastle         Wolves  1.687143  5.496429

        AST    HST      HC        AC     THC  TAC       AHO   AAO
0  3.866667  4.125  5.0625  3.933333  2.3125  1.6  2.809286  2.72

In [10]:
odds = get_odds()
odds

              HT              AT       AHO        AAO
0    Southampton       Brentford  2.475714   2.991429
1       Brighton  Crystal Palace  1.488571   7.367857
2  Nott'm Forest       Newcastle  1.712857   5.288571
3    Aston Villa     Bournemouth  1.703571   5.070000
4      Brentford       Leicester  1.996154   3.726923
5         Wolves           Leeds  3.416429   2.285714
6    Southampton       Tottenham  4.377692   1.855385
7        Chelsea         Everton  1.450714   8.325714
8        Arsenal  Crystal Palace  1.306923  11.097692
9       Man City       Liverpool  4.773750   1.672500

In [141]:
hts = list(odds['HT'].unique())
ats = list(odds['AT'].unique())
ts = hts.append(ats)
hts

['Bournemouth',
 'Everton',
 'Leeds',
 'Leicester',
 'Tottenham',
 'Crystal Palace',
 'Fulham',
 'West Ham',
 'Man United',
 'Newcastle',
 ['Liverpool',
  'Brentford',
  'Brighton',
  'Chelsea',
  "Nott'm Forest",
  'Man City',
  'Arsenal',
  'Aston Villa',
  'Southampton',
  'Wolves']]

In [81]:
odds['AHO'].loc[odds['HT'] == 'Crystal Palace']

5    9.292143
Name: AHO, dtype: float64