In [13]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import datetime
pd.set_option('display.max_columns', 100)
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
 

from import_pack.import_data import grab_epl_data, split_data

In [14]:
df = grab_epl_data()

In [15]:
df_results, df_stats, df_odds = split_data(df)

In [9]:
df_odds.columns.values

array(['B365H', 'B365D', 'B365A', 'BWH', 'BWD', 'BWA', 'IWH', 'IWD',
       'IWA', 'PSH', 'PSD', 'PSA', 'WHH', 'WHD', 'WHA', 'VCH', 'VCD',
       'VCA', 'MaxH', 'MaxD', 'MaxA', 'AvgH', 'AvgD', 'AvgA', 'B365>2.5',
       'B365<2.5', 'P>2.5', 'P<2.5', 'Max>2.5', 'Max<2.5', 'Avg>2.5',
       'Avg<2.5', 'AHh', 'B365AHH', 'B365AHA', 'PAHH', 'PAHA', 'MaxAHH',
       'MaxAHA', 'AvgAHH', 'AvgAHA', 'B365CH', 'B365CD', 'B365CA', 'BWCH',
       'BWCD', 'BWCA', 'IWCH', 'IWCD', 'IWCA', 'PSCH', 'PSCD', 'PSCA',
       'WHCH', 'WHCD', 'WHCA', 'VCCH', 'VCCD', 'VCCA', 'MaxCH', 'MaxCD',
       'MaxCA', 'AvgCH', 'AvgCD', 'AvgCA', 'B365C>2.5', 'B365C<2.5',
       'PC>2.5', 'PC<2.5', 'MaxC>2.5', 'MaxC<2.5', 'AvgC>2.5', 'AvgC<2.5',
       'AHCh', 'B365CAHH', 'B365CAHA', 'PCAHH', 'PCAHA', 'MaxCAHH',
       'MaxCAHA', 'AvgCAHH', 'AvgCAHA', 'Bb1X2', 'BbMxH', 'BbAvH',
       'BbMxD', 'BbAvD', 'BbMxA', 'BbAvA', 'BbOU', 'BbMx>2.5', 'BbAv>2.5',
       'BbMx<2.5', 'BbAv<2.5', 'BbAH', 'BbAHh', 'BbMxAHH', 'BbAvAHH',
       'BbMxAHA', 'BbAvAHA', 'LBH', 'LBD', 'LBA', 'SJH', 'SJD', 'SJA',
       'GBH', 'GBD', 'GBA', 'BSH', 'BSD', 'BSA', 'SBH', 'SBD', 'SBA'],
      dtype=object)

In [16]:
def get_home_odds(df):
    df_odds = df[["B365H", "B365D", "B365A", "BWH", "BWD", "BWA", "IWH", "IWD",\
    "IWA", "PSH", "PSD", "PSA", "WHH", "WHD", "WHA", "VCH", "VCD", "VCA",]]
    df_home_odds = df_odds[["B365H","BWH","IWH","WHH","VCH"]]
    df_home_odds["AHO"] = (df_home_odds["B365H"] + df_home_odds["BWH"] + df_home_odds["IWH"] + df_home_odds["WHH"] + df_home_odds["VCH"])/5
    return df_home_odds

In [17]:
df_home_odds = get_home_odds(df_odds)

/var/folders/yl/5r30hf2x3zs_3212qnlvh06r0000gn/T/ipykernel_19016/2997421864.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_home_odds["AHO"] = (df_home_odds["B365H"] + df_home_odds["BWH"] + df_home_odds["IWH"] + df_home_odds["WHH"] + df_home_odds["VCH"])/5

In [18]:
df_home_odds.head()

   B365H    BWH    IWH    WHH    VCH     AHO
0   4.20   4.33   4.30   4.40   4.60   4.366
1  11.00  10.00  12.00  12.00  13.00  11.600
2   3.75   3.75   3.65   3.75   3.75   3.730
3   2.25   2.30   2.30   2.25   2.30   2.280
4   1.66   1.65   1.65   1.67   1.62   1.650

In [19]:
def get_away_odds(df):
    df_odds = df[["B365H", "B365D", "B365A", "BWH", "BWD", "BWA", "IWH", "IWD",\
    "IWA", "PSH", "PSD", "PSA", "WHH", "WHD", "WHA", "VCH", "VCD", "VCA",]]
    df_away_odds = df_odds[["B365A","BWA","IWA","WHA","VCA"]]
    df_away_odds["AAO"] = (df_away_odds["B365A"] + df_away_odds["BWA"] + df_away_odds["IWA"] + df_away_odds["WHA"] + df_away_odds["VCA"])/5
    return df_away_odds

In [20]:
df_away_odds = get_away_odds(df_odds)
df_away_odds.head()

/var/folders/yl/5r30hf2x3zs_3212qnlvh06r0000gn/T/ipykernel_19016/2056715440.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_away_odds["AAO"] = (df_away_odds["B365A"] + df_away_odds["BWA"] + df_away_odds["IWA"] + df_away_odds["WHA"] + df_away_odds["VCA"])/5

   B365A   BWA   IWA   WHA   VCA    AAO
0   1.85  1.87  1.85  1.83  1.87  1.854
1   1.25  1.28  1.27  1.27  1.25  1.264
2   2.00  2.00  2.05  2.05  2.00  2.020
3   3.20  2.95  3.15  3.20  3.10  3.120
4   5.25  5.50  5.50  5.25  5.50  5.400

In [22]:
df_odds_final = df_home_odds[["AHO"]]
df_odds_final

        AHO
0     4.366
1    11.600
2     3.730
3     2.280
4     1.650
..      ...
375   1.674
376   1.200
377   2.820
378   4.870
379   4.160

[6711 rows x 1 columns]

In [23]:
df_odds_final = df_odds_final.join(df_away_odds[["AAO"]])

In [24]:
df_odds_final

       AHO     AAO
0    4.366   1.854
0    4.366   1.970
0    4.366   1.550
0    4.366  19.900
0    4.366   7.000
..     ...     ...
379  4.160   3.480
379  4.160   1.214
379  4.160   2.484
379  4.160   1.734
380    NaN     NaN

[118571 rows x 2 columns]

In [25]:
def get_odds_final(df):
    df_odds = df[["B365H", "B365D", "B365A", "BWH", "BWD", "BWA", "IWH", "IWD",\
    "IWA", "PSH", "PSD", "PSA", "WHH", "WHD", "WHA", "VCH", "VCD", "VCA",]]
    df_home_odds = df_odds[["B365H","BWH","IWH","WHH","VCH"]]
    df_home_odds["AHO"] = (df_home_odds["B365H"] + df_home_odds["BWH"] + df_home_odds["IWH"] + df_home_odds["WHH"] + df_home_odds["VCH"])/5


    df_away_odds = df_odds[["B365A","BWA","IWA","WHA","VCA"]]
    df_away_odds["AAO"] = (df_away_odds["B365A"] + df_away_odds["BWA"] + df_away_odds["IWA"] + df_away_odds["WHA"] + df_away_odds["VCA"])/5
    df_odds_final = df_home_odds[["AHO"]]
    df_odds_final = df_odds_final.join(df_away_odds[["AAO"]])
    return df_odds_final

In [26]:
df_test = get_odds_final(df)

/var/folders/yl/5r30hf2x3zs_3212qnlvh06r0000gn/T/ipykernel_19016/2049981172.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_home_odds["AHO"] = (df_home_odds["B365H"] + df_home_odds["BWH"] + df_home_odds["IWH"] + df_home_odds["WHH"] + df_home_odds["VCH"])/5
/var/folders/yl/5r30hf2x3zs_3212qnlvh06r0000gn/T/ipykernel_19016/2049981172.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_away_odds["AAO"] = (df_away_odds["B365A"] + df_away_odds["BWA"] + df_away_odds["IWA"] + df_away_odds["WHA"] + df_away_odds["VCA"])/5

In [27]:
df_test.head()

     AHO     AAO
0  4.366   1.854
0  4.366   1.970
0  4.366   1.550
0  4.366  19.900
0  4.366   7.000